Logic Apps/OSINT/VirusTotal/GetURLReport.json
{
    "definition": {
        "$schema": "XXX",
        "actions": {
            "For_each": {
                "type": "Foreach",
                "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
                "actions": {
                    "Append_to_array_Table_variable": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                            "name": "Table",
                            "value": {
                                "URL": "@{body('Parse_JSON')?['url']}",
                                "URL Harmless Statistics": "@body('Retrieve_information_about_a_file_or_URL_analysis')?['data']?['attributes']?['stats']?['harmless']",
                                "URL Suspicious Statistics": "@body('Retrieve_information_about_a_file_or_URL_analysis')?['data']?['attributes']?['stats']?['suspicious']",
                                "URL Malicious Statistics": "@body('Retrieve_information_about_a_file_or_URL_analysis')?['data']?['attributes']?['stats']?['malicious']",
                                "Domain Reputation": "@body('Get_Domain_report')?['data']?['attributes']?['reputation']",
                                "Status": "@body('Retrieve_information_about_a_file_or_URL_analysis')?['data']?['attributes']?['status']",
                                "Undetected": "@body('Get_Domain_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']"
                            }
                        },
                        "runAfter": {
                            "Get_Domain_report": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Append_to_string_variable": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                            "name": "VariableString",
                            "value": "\nURL Report for: @{body('Parse_JSON')?['url']}\nDomain: @{body('Get_Domain_report')?['data']?['attributes']?['categories']}\nWHOIS: \n@{body('Get_Domain_report')?['data']?['attributes']?['whois_date']}\n@{body('Get_Domain_report')?['data']?['attributes']?['whois']}\n\n\n"
                        },
                        "runAfter": {
                            "Append_to_array_Table_variable": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@items('For_each')",
                            "schema": {
                                "properties": {
                                    "friendlyName": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "Analyze_a_URL": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/api/v3/urls",
                            "body": {
                                "$content-type": "multipart/form-data",
                                "$multipart": [
                                    {
                                        "headers": {
                                            "Content-Disposition": "form-data; name=\"url\""
                                        },
                                        "body": "@body('Parse_JSON')?['url']"
                                    }
                                ]
                            }
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Retrieve_information_about_a_file_or_URL_analysis": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/v3/analyses/connectorV2/@{encodeURIComponent(body('Analyze_a_URL')?['data']?['id'])}"
                        },
                        "runAfter": {
                            "Analyze_a_URL": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Get_Domain_report": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/v3/domains/@{encodeURIComponent(body('Parse_JSON')?['url'])}"
                        },
                        "runAfter": {
                            "Retrieve_information_about_a_file_or_URL_analysis": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Create_HTML_table": {
                        "type": "Table",
                        "inputs": {
                            "from": "@variables('Table')",
                            "format": "HTML"
                        },
                        "runAfter": {
                            "Append_to_string_variable": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Compose": {
                        "type": "Compose",
                        "inputs": "@body('Create_HTML_table')",
                        "runAfter": {
                            "Create_HTML_table": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Add_comment_to_incident_(V3)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "<p class=\"editor-paragraph\">@{body('Create_HTML_table')}</p><br><p class=\"editor-paragraph\">@{variables('VariableString')}</p>"
                            },
                            "path": "/Incidents/Comment"
                        },
                        "runAfter": {
                            "Compose": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialise_Domain_String_Variable": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_Table": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Table",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Entities_-_Get_URLs": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialise_Domain_String_Variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "VariableString",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialise_Table": [
                        "Succeeded"
                    ]
                }
            },
            "Entities_-_Get_URLs": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/url"
                },
                "runAfter": {}
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "XX": {
                    "connectionId": "XXX",
                    "connectionName": "XXX",
                    "id": "XXX"
                },
                "azuresentinel_1": {
                    "connectionId": "XXX",
                    "connectionName": "XXX",
                    "connectionProperties": {
                        "authentication": {
                            "identity": "XXX",
                            "type": "XXX"
                        }
                    },
                    "id": "XXX"
                }
            }
        }
    }
}
