Logic Apps/OSINT/VirusTotal/GetURLReport.json
{
    "definition": {
        "$schema": "XXX",
        "actions": {
            "Compose": {
                "inputs": "@body('Create_HTML_table')",
                "runAfter": {
                    "Create_HTML_table": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Condition": {
                "actions": {
                    "Add_comment_to_incident_(V3)": {
                        "inputs": {
                            "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "<p>@{outputs('Compose')}<br>\n@{variables('VariableString')}</p>"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@variables('VariableString')",
                                    ""
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Create_HTML_table": {
                "inputs": {
                    "format": "HTML",
                    "from": "@variables('Table')"
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "Table"
            },
            "Entities_-_Get_URLs": {
                "inputs": {
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/entities/url"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Analyse_an_URL": {
                        "inputs": {
                            "body": {
                                "$content-type": "multipart/form-data",
                                "$multipart": [
                                    {
                                        "body": "@body('Parse_JSON')?['url']",
                                        "headers": {
                                            "Content-Disposition": "form-data; name=\"url\""
                                        }
                                    }
                                ]
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal_1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/api/v3/urls"
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Append_to_array_variable": {
                        "inputs": {
                            "name": "Table",
                            "value": {
                                "Harmless": "@body('Get_Domain_report')?['data']?['attributes']?['last_analysis_stats']?['harmless']",
                                "Malicious": "@body('Get_Domain_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']",
                                "Reputation": "@body('Get_Domain_report')?['data']?['attributes']?['reputation']",
                                "Status": "@body('Retrieve_information_about_a_file_or_URL_analysis')['data']['attributes']['status']",
                                "Suspicious": "@body('Get_Domain_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']",
                                "URL": "@body('Parse_JSON')?['url']",
                                "Undetected": "@body('Get_Domain_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']"
                            }
                        },
                        "runAfter": {
                            "Get_Domain_report": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "Append_to_string_variable": {
                        "inputs": {
                            "name": "VariableString",
                            "value": "\nURL Report for: @{body('Parse_JSON')?['url']}\nDomain: @{body('Get_Domain_report')?['data']?['attributes']?['categories']}\nWHOIS: \n@{body('Get_Domain_report')?['data']?['attributes']?['whois_date']}\n@{body('Get_Domain_report')?['data']?['attributes']?['whois']}\n"
                        },
                        "runAfter": {
                            "Append_to_array_variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToStringVariable"
                    },
                    "Get_Domain_report": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal_1']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/v3/domains/@{encodeURIComponent(body('Parse_JSON')?['url'])}"
                        },
                        "runAfter": {
                            "Retrieve_information_about_a_file_or_URL_analysis": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Parse_JSON": {
                        "inputs": {
                            "content": "@items('For_each')",
                            "schema": {
                                "properties": {
                                    "friendlyName": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {},
                        "type": "ParseJson"
                    },
                    "Retrieve_information_about_a_file_or_URL_analysis": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal_1']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/v3/analyses/@{encodeURIComponent(body('Analyse_an_URL')?['data']?['id'])}"
                        },
                        "runAfter": {
                            "Analyse_an_URL": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
                "runAfter": {
                    "Initialize_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Table",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Entities_-_Get_URLs": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
                "inputs": {
                    "variables": [
                        {
                            "name": "VariableString",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                        }
                    },
                    "path": "/incident-creation"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "XX": {
                    "connectionId": "XXX",
                    "connectionName": "XXX",
                    "id": "XXX"
                },
                "azuresentinel_1": {
                    "connectionId": "XXX",
                    "connectionName": "XXX",
                    "connectionProperties": {
                        "authentication": {
                            "identity": "XXX",
                            "type": "XXX"
                        }
                    },
                    "id": "XXX"
                }
            }
        }
    }
}
